{% extends "main_layout.html" %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div id="sectionsArea" class="container-fluid" style="text-align: left;">
            <p style="text-align:center"><b>file-path:</b> {{ filePath }}</p>
            <pre style="width: 75%; margin-left:auto; margin-right:auto;"><code>{{ scriptcode }}</code></pre>
        </div>
            
        </div> <!-- col -->
    </div> <!-- container fluid-->



{% endblock %}

