<!-- <div class='row mt-4 mb-4'> -->
<!--     <div class='col-12'> -->
<!--         <form action="{{ url_for('projects.search', project=project) }}" method="POST" role="form"> -->
<!--             <div class="input-group mb-3"> -->
<!--                 <input  id="searchBarQuery" name="searchBarQuery" type="text" autocomplete="off" class="form-control" placeholder="Enter search term"> -->
<!--                 <div class="input-group-append"> -->
<!--                     <button class="btn btn-warning" type="submit">Search</button> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </form> -->
<!--     </div> -->
<!-- </div> -->

<div class='row mt-4 mb-4'>
    <div class='col-12'>
            <div class="input-group mb-3">
                <input  id="searchBarQuery" name="searchBarQuery" type="text" autocomplete="off" class="form-control" placeholder="Enter search term">
                <div class="input-group-append">
                    <a class="btn btn-warning" role="button" onclick="searchBar('{{ project }}');">Search</a>
                </div>
            </div>
    </div>
</div>

